<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Article Recommendation Service</title>
  <meta name="description" content="A machine learning app built with Python, Flask, and the Pinecone SDK.">
  <meta name="author" content="Tyler Hawkins">

  <meta property="og:title" content="Article Recommendation Service">
  <meta property="og:type" content="website">
  <meta property="og:description" content="A machine learning app built with Python, Flask, and the Pinecone SDK.">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Article Recommendation Service</h1>
  <p>This machine learning app is built using <a href="https://www.python.org/doc/">Python</a>, <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a>, and the <a href="https://www.pinecone.io/">Pinecone SDK</a>.</p>
  <p>Select any of the 10 articles below. We'll treat these as your past reading history.</p>
  <p>Then, click the Submit button to find related articles!</p>

  <form id="articleRecommendationForm">
    <fieldset>
      <legend>Past reading history</legend>
      <div><label><input type="checkbox" name="article1" id="article1" value="34218" />Serena Williams Wins Seventh Wimbledon, Record-Equaling 22nd Major Title</label></div>
      <div><label><input type="checkbox" name="article2" id="article2" value="17704" />Andy Murray, No. 1 and Newly Knighted, Still Has Room for More</label></div>
      <div><label><input type="checkbox" name="article3" id="article3" value="35192" />World Series Game 7 Draws Most Viewers for MLB in a Quarter Century</label></div>
      <div><label><input type="checkbox" name="article4" id="article4" value="17478" />Steelers Crush Dolphins to Set Up a Clash With the Chiefs</label></div>
      <div><label><input type="checkbox" name="article5" id="article5" value="17960" />George Orwell’s ‘1984’ Is Suddenly a Best-Seller</label></div>
      <div><label><input type="checkbox" name="article6" id="article6" value="21659" />Samsung Urges Consumers to Stop Using Galaxy Note 7s After Battery Fires</label></div>
      <div><label><input type="checkbox" name="article7" id="article7" value="21642" />Apple Is Said to Be Rethinking Strategy on Self-Driving Cars</label></div>
      <div><label><input type="checkbox" name="article8" id="article8" value="17973" />Illegal Voting Claims, and Why They Don’t Hold Up</label></div>
      <div><label><input type="checkbox" name="article9" id="article9" value="21771" />Gas Prices Surge in South After Pipeline Leak</label></div>
      <div><label><input type="checkbox" name="article10" id="article10" value="21789" />An English Soccer Club Turns Fantasy Sports Into Reality</label></div>
    </fieldset>
    <div><button type="submit" id="submitButton">Submit</button></div>
  </form>

  <div id="resultsContainer" style="display: none;">
    <h2>Related Articles</h2>
    <table>
      <thead>
        <tr>
          <th scope="col" class="titleColumn">Title</th>
          <th scope="col" class="publicationColumn">Publication</th>
          <th scope="col" class="scoreColumn">Match Score</th>
        </tr>
      </thead>
      <tbody id="resultsTableBody"></tbody>
    </table>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
